<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
    <h1>Listado de Usuarios</h1>
    {% if usuarios %}
    <ul>
        {% for usuario in usuarios %}
        <li>{{ usuario.id }} - <strong>{{ usuario.nombre }}</strong> - {{ usuario.email }} - {{ usuario.edad }} años - {{ usuario.created_at }} - {{ usuario.updated_at }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No existen usuarios registrados.</p>
    {% endif %}
</body>
</html>
